<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>{{data.cname}}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        
    <table border="1" style="text-align:center ;">
        <tr>
            <td>course name</td>
            <td><input type="text" value="{{data.cname}}" name="course_name" readonly></td>
        </tr>
        <tr>
            <td>course ID</td>
            <td><input type="text" value="{{data.id}}" name="courses_id" readonly></td>
        </tr>
        <tr>
            <td>duration</td>
            <td><input type="text" value="{{data.duration}}" name="duration"></td>
        </tr>
        <tr>
            <td>fees</td>
            <td><input type="text" value="{{data.fees}}" name="fees"></td>
        </tr>
        <tr>
            <td>level</td>
            <td><input type="text" value="{{data.level}}" name="level"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">insert course details </button></td>
        </tr>
    </table>
    </form>
</body>
</html>