<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.session.Username %} &nbsp; &nbsp; <a href="{% url 'logoutuser' %}">logout</a>&nbsp; &nbsp;&nbsp; &nbsp; <a href="{% url 'Usereg' %}">registration</a> &nbsp; &nbsp; <a href="{% url 'showhomepage' %}">Homepage</a>
    {{request.session.Username}}
    {%  else %}
    <a href="{% url 'loginpage' %}">Login </a>
    {% endif %}
   
</body>
</html>