<!DOCTYPE html>
<html>

<head>
  <title>HomePage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

    *:focus {
      outline: none;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      background: #dbe2ef;
    }

    #login-box {
      position: relative;
      margin: 5% auto;
      width: auto;
      height: auto;
      background: #dbe2ef;
      border-radius: 2px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    .outer-wrapper {
      margin: 10px;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
      /*max-width: fit-content;*/
      max-height: fit-content;
      width: 100%;
    }

    .table-wrapper {
      overflow-y: scroll;
      overflow-x: scroll;
      height: fit-content;
      max-height: 70.4vh;
      padding-bottom: 20px;
    }

    table {
      min-width: max-content;
      border-collapse: separate;
      border-spacing: 0px;
    }

    table th {
      position: sticky;
      top: 0px;
      background-color: #133b5c;
      color: white;
      text-align: center;
      font-weight: normal;
      font-size: 18px;
      outline: 0.7px solid black;
      border: 1.5px solid black;

    }

    table th,
    table td {
      padding: 15px;
      padding-top: 10px;
      padding-bottom: 10px;

    }

    table td {
      text-align: left;
      font-size: 15px;
      border: 1px solid rgb(177, 177, 177);
      padding-left: 20px;

    }

    .nb {
      background-color: #112d4e;
      color: white;
    }

    .nb-content {
      padding: 20px;
    }

    .rightpart a:visited {
      color: white;
    }
  </style>

</head>

<body>

  <nav class="w3-bar w3-small navbar-fixed-top" style="margin: 0; padding: 0;height: 8%; color: white; background-color: #112d4e;">
        
    <div class="container-fluid">
    
        <div class="row">
            
            <div class="col-md-4">
                <div class="img" style="text-align:left ;"><img src="" alt="logo"></div>
            </div>

            <div class="col-md-4 text-center">
                <h3>Hospital Name</h3>
            </div>

            <div class="col-md-4 rightpart" style="display: inline; text-align: right;">
                <h3><a href="">Home </a>&nbsp; <a href=""> Logout</a></h3>
            </div>

        </div>
    </div>
</nav>

<div class="w3-sidebar w3-bar-block  w3-card nb navbar-fixed-top  " style="width: 15%;height: 92%; margin-top: 57px;">
        
  <button class="w3-button w3-block w3-left-align nb-content" onclick="myRecFunc()">
  Reception&nbsp;<i class="fa fa-caret-down"></i>
  </button>
  <div id="demoReception" class="w3-hide w3-white w3-card ">
  <a href="#" class="w3-bar-item w3-button ">Appointment</a>
  <a href="#" class="w3-bar-item w3-button ">Certificate</a>
  <a href="#" class="w3-bar-item w3-button ">ViewAll Appointments</a>
  </div>

<button class="w3-button w3-block w3-left-align nb-content" onclick="myOPDFunc()">
  OPD&nbsp;<i class="fa fa-caret-down"></i>
</button>
<div id="demoAcc" class="w3-hide w3-white w3-card">
  <a href="#" class="w3-bar-item w3-button">Complain</a>
  <a href="#" class="w3-bar-item w3-button">PFSH</a>
  <a href="#" class="w3-bar-item w3-button">Examination</a>
  <a href="#" class="w3-bar-item w3-button">Diagnosis</a>
  <a href="#" class="w3-bar-item w3-button">RX</a>
  <a href="#" class="w3-bar-item w3-button">Advice</a>
</div>

<button class="w3-button w3-block w3-left-align nb-content" onclick="myIPDFunc()">
  IPD&nbsp;<i class="fa fa-caret-down"></i>
</button>
<div id="demoIPD" class="w3-hide w3-white w3-card">
  <a href="#" class="w3-bar-item w3-button">registration</a>
  <a href="#" class="w3-bar-item w3-button">Complaint</a>
  <a href="#" class="w3-bar-item w3-button">PFSH</a>
  <a href="#" class="w3-bar-item w3-button">Examination</a>
  <a href="#" class="w3-bar-item w3-button">Diagnosis</a>
  <a href="#" class="w3-bar-item w3-button">Round Note</a>
  <a href="#" class="w3-bar-item w3-button">OT Schedule</a>
  <a href="#" class="w3-bar-item w3-button">Procedure Notes</a>
  <a href="#" class="w3-bar-item w3-button">Discharge Summary</a>
  <a href="#" class="w3-bar-item w3-button">ViewAll OTSchedule</a>
  <a href="#" class="w3-bar-item w3-button">ViewAll BedAllocation</a>
</div>

<button class="w3-button w3-block w3-left-align nb-content" onclick="myBillFunc()">
  Billing&nbsp;<i class="fa fa-caret-down"></i>
</button>
<div id="demoBill" class="w3-hide w3-white w3-card">
  <a href="#" class="w3-bar-item w3-button">Estimate</a>
  <a href="#" class="w3-bar-item w3-button">OPD Billing</a>
  <a href="#" class="w3-bar-item w3-button">IPD Billing</a>
  <a href="#" class="w3-bar-item w3-button">Opening/Closing Cash entry</a>
  <a href="#" class="w3-bar-item w3-button">Receipt</a>
  <a href="#" class="w3-bar-item w3-button">Refund</a>
  <a href="#" class="w3-bar-item w3-button">Expense Entry</a>
  <a href="#" class="w3-bar-item w3-button">ViewAll Estimate</a>
  <a href="#" class="w3-bar-item w3-button">ViewAll OPDBilling</a>
  <a href="#" class="w3-bar-item w3-button">ViewAll IPDBilling</a>
  <a href="#" class="w3-bar-item w3-button">viewAll Receipts</a>
  <a href="#" class="w3-bar-item w3-button">ViewAll refunds</a>
</div>


</div>

  <div class="w3-container" style="margin-left:15%">

    
    <div class="col-sm-offset-1 col-sm-11" style="margin-top: 70px; margin-bottom: 10px;">
      <a href="{% url 'Insertempdiagnosis' %}"><button type="submit" class="btn btn-default" style="width:40%;">Create new</button></a>
      <a href="{% url 'showempdiagnosis' %}"><button type="submit" class="btn btn-default" style="width: 40%;">Show all </button></a>
      </div>
    <br><br>
    <h2>Add New Diagnostic Record Record: </h2>
    <br>
  
   
    
  
    <form class="form-horizontal" action="" method="POST">
      {% csrf_token %}

      <div class="form-group">
        <label class="control-label col-sm-1" for="">Provisional Diagnosis</label>
        <div class="col-sm-11">
          <input type="text" name="previousdiagnosis" class="form-control" id=""
            placeholder="Enter Provisional Diagnosis " style="height: 80px; width: 40%;display: inline-block;">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-1" for="">Final Diagnosis</label>
        <div class="col-sm-11">
          <input type="text" name="finaldiagnosis" class="form-control" id="" placeholder="Enter Final Diagnosis "
            style="height: 80px; width: 40%; display: inline-block;">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <button type="submit" class="btn btn-default">Clear</button>
          <button type="submit" class="btn btn-default">save </button>
        </div>

      </div>
    </form>
    {% if messages %}
    {%for mess in messages %}
    <b>{{mess}}</b>
    {% endfor %}
    {% endif %}

    <h2>Previous Diagnosis records</h2>
    
    <div class="outer-wrapper">
      <div class="table-wrapper">
        <table class="table table-hover table-responsive">
          
           <tdead>
            <tr>
              <th>id  </th>
              <th>final diagnosis</th>
              <th>provisional diagnosis</th>
              <th></th>
              <th></th>
            </tr>
           </thead>
          
         
            <tbody>
                {% for result in data %}
              <tr>
                <td>{{result.id}}</td>
                <td>{{result.finaldiagnosis}}</td>
                <td>{{result.previousdiagnosis}}</td>
                <td><a href="Delete/{{result.id}}">delete </a></td>
                <td><a href="Edit/{{result.id}}">edit </a></td>
              </tr>
              {% endfor %}
            </tbody>

            
        </table>
        <a href=""></a>
      </div>
    </div>
    <form action="/Update/{{Empmodel.id}}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label class="control-label col-sm-1" for=""> ID</label>
        <div class="col-sm-11">
          <input type="text" name="id" class="form-control" value="{{Empmodel.id}}" readonly id=""
            placeholder="Enter Provisional Diagnosis " style="height: 80px; width: 40%;display: inline-block;">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-1" for="">Provisional Diagnosis</label>
        <div class="col-sm-11">
          <input type="text" name="previousdiagnosis" class="form-control" value="{{Empmodel.previousdiagnosis}}" id=""
            placeholder="Enter Provisional Diagnosis " style="height: 80px; width: 40%;display: inline-block;">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-1" for="">Final Diagnosis</label>
        <div class="col-sm-11">
          <input type="text" name="finaldiagnosis" class="form-control" value="{{Empmodel.finaldiagnosis}}" id="" placeholder="Enter Final Diagnosis "
            style="height: 80px; width: 40%; display: inline-block;">
        </div>
      </div>
  
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <!-- <button type="submit" class="btn btn-default">Clear</button> -->
          <button type="submit" class="btn btn-default">save </button>
          {% if messages %}
    {%for mess in messages %}
    <b>{{mess}}</b>
    {% endfor %}
    {% endif %}
        </div>
  
      </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
  </div>

  <script>

    function myRecFunc() {
      var x = document.getElementById("demoReception");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-blue";
      } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
          x.previousElementSibling.className.replace(" w3-blue", "");
      }
    }
    function myOPDFunc() {
      var x = document.getElementById("demoAcc");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-blue";
      } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
          x.previousElementSibling.className.replace(" w3-blue", "");
      }
    }

    function myIPDFunc() {
      var x = document.getElementById("demoIPD");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-blue";
      } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
          x.previousElementSibling.className.replace(" w3-blue", "");
      }
    }

    function myBillFunc() {
      var x = document.getElementById("demoBill");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-blue";
      } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
          x.previousElementSibling.className.replace(" w3-blue", "");
      }
    }
  </script>
</body>

</html>